= form_for @bid do |f|
  - if @bid.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bid.errors.count, "error")} prohibited this bid from being saved:"
      %ul
        - @bid.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :item
    = f.text_field :item
  .field
    = f.label :bidder
    = f.text_field :bidder
  .field
    = f.label :value
    = f.text_field :value
  .actions
    = f.submit 'Save'
