%p#notice= notice

%p
  %b Tite:
  = @item.tite
%p
  %b Description:
  = @item.description
%p
  %b Seller:
  = @item.seller
%p
  %b Status:
  = @item.status

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
